html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50);
  background-color: #dee8ec;
  }


.banner {
    height: 75px;
    width/max-width: 1800px;
    margin: 0 auto;
    background-color: rgb(223, 3, 38);
    border-radius: 2px;
}

.banner h2{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}
.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

fuel_statistic_table {
    padding: 0 20px;
    border: 1px solid black;
    margin: 20px 25px;
}

.bblock {
     display: inline-block; /*Задаем обтекание*/
     margin-top: 40px;
     /*line-height: 40px;/*Высота строки +  верт. центрирования текста*/
     font-size: 20px;
     margin: 0;
     vertical-align: top;
     height: 50px;
     padding: 10px;
    }

.wrapper-dropdown-3 {
/* Размер и позиционирование */
    position: relative;
    width: 290px;
    margin: 0;
    padding: 0px;
    font-weight: bold;
    color: #012e67;
}
.wrapper-dropdown-4 {
/* Размер и позиционирование */
    position: relative;
    width: 200px;
    margin: 0;
    padding: 0px;
    background: #b1d5fa;
    border-radius: 1px;
    font-weight: bold;
    color: #012e67;
}

.div_count_liters {
    width: 375px;
    background-color: rgb(234, 204, 151);
    border-radius: 10px;
    padding: 20px 15px;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.label_value_liters {
    margin: 10px;
    font-size: 30px;
    color: #6f2205;
}

.label_liters {
    color: #6f2205;
    font-size: 19px;
}

.div_price {
    width: 375px;
    background-color: #c9e5ab;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.label_value_price {
    margin: 10px;
    font-size: 30px;
    color: #1b511a;
}

.label_price {
    color: #1b511a;
    font-size: 19px;
}

.div_fuel_flow {
    width: 375px;
    background-color: #ffbdb3;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.label_value_fuel_flow {
    margin: 10px;
    font-size: 30px;
    color: #ec4f43;
}

.label_fuel_flow {
    color: #ec4f43;
    font-size: 19px;
}

.div_fuel_main_table {
    background-color: #bb99b7;
    padding: 30px 15px;
    width: 95%;
    border-radius: 10px;
    margin: auto;
}
.div_cards {
    /*display: inline-flex;
    justify-content: center;
    align-items: center;*/
    margin: 0 5px;
}